* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

header, body, form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 60px;
}

header img {
    width: 100px;
    height: 100px;
}

label * {
    display: inline-block;
    font-size: 20px;
}

label p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

form {
    flex-direction: column;
}

form small {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin: 5px;
}

form input[type=text] {
    padding: 5px 10px;
}

form button {
    display: block;
    outline: none;
    font-size: 20px;
    background: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px;
}